.black-link {
	font-weight: 600;
	text-transform: uppercase;
	padding-right: 50px;
	color: #000;
}

.center {
	text-align: center;
}

hr {
	color: black; /*works in Chrome and Safari */
	border-color: black; /*works in Firefox and Opera*/
	background-color: black; /*color works in IE7+*/
}